.wrapper {
	background-color: #FEFEFE;
	margin: 0 auto;
}

.RMPercentageCalculatorHeader{
	position: fixed;
	height: 132px;
	top: 0;
	left:0;
	right:0;
	font-size: 80px;
	vertical-align: middle;
	background: rgba(234,66,39,1);
	color: white;
	box-shadow: 0px 1px 4px rgba(0,0,0,.6);
}


.WeightPercentages{
	padding-top:136px;
}


.WeightPercentage{
	display: flex;
	font-size: 60px;
	padding-left: 5px;
	
}

.WeightPercentage__Output{
	flex:1;
}

.Percentage{

}

.Value{
 	flex:2;
}

.units{
	font-size: .6em;
	vertical-align: baseline;
	color: rgba(99,99,99,.9)
}

.Weight__Label{
	padding-left: 5px;
}

.Weight__Input{
	border:none;
	padding: 0;
	margin: 0;
	line-height: 132px;
}

.Weight__Input::placeholder{
	color:rgba(255,255,255,.5);
}

.ButtonGroup{
	flex:1;
	min-width:130px;
}